<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Captioner</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            padding: 20px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            background-color: white;
            border-radius: 8px;
        }

        h1 {
            margin-bottom: 20px;
            color: #333;
        }

        p {
            font-size: 1.2em;
            color: #555;
        }

        form {
            width: 100%;
            max-width: 400px;
            text-align: center;
        }

        button[type="submit"] {
            background-color: #4CAF50; /* Green */
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1em;
            transition: background-color 0.3s ease;
            width: 100%;
        }

        button[type="submit"]:hover {
            background-color: #3e8e41; /* Darker green on hover */
        }

        input[type="file"] {
            margin: 20px 0;
            padding: 10px;
            border: 2px solid #4CAF50;
            border-radius: 4px;
            width: 100%;
            box-sizing: border-box;
        }

        .message {
            margin-top: 20px;
            color: #333;
            font-size: 1.1em;
        }
    </style>
</head>
<body>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Video Captioner</h1>
            <p>Select a video to convert to mp3</p>
            {{ form }}
            <button type="submit">Convert to mp3</button>
        </form>
        <div class="message">{{ text }}</div>
        {% if download_link %}
    <a href="{{ download_link }}" download>Download your converted MP3 file</a>
{% endif %}

    </div>
</body>
</html>
